<div id="view_team_modal">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title" id="myModalLabel">( <%= @team.name %> ) <small><%= @team.home_city %></small></h4>
	</div>
	<div class="modal-body">
		
		<div class='container-fluid'>
			<div class="row">
				<div class='col-xs-6'><h4 style="text-align:right">Coach:</h4></div>
				<div class='col-xs-6'><h4><%= @team.coach %></h4></div>
			</div>
			<div class="row">
				<div class='col-xs-6'><h4 style="text-align:right">Home City:</h4></div>
				<div class='col-xs-6'><h4><%= @team.home_city %></h4></div>
			</div>
			
			<br>
			<div class="row">
				<div class="col-12" style="float:right">
					<% if session[:remember_token] && session[:remember_token] == current_user.id %>
						<button type="button" class="btn btn-info" data-dismiss="modal">Edit</button>
						<%= link_to 'Delete', @team, method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete #{@team.name}"} %>
					<% end %>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

	</div>
</div>
