<div id="new_league_modal">
    <%= form_for(@league) do |l| %>

	Name: <%= l.text_field :name %><br>
	Locations: <%= l.text_field :locations %><br>
	<%= l.submit "Submit" %>

	<% end %>
</div>

<%= link_to 'Delete League', @league, method: :delete, data: {confirm: "Confirm Delete League"} %><br>
