<span class="btn btn-default btn-block" data-toggle="collapse" data-target="#scheduleUpcoming">
	<p id="myTitle" name="scheduleTitle">( Schedule )</p>
</span>
<div id="scheduleUpcoming" class="collapse in">

	<% Day.where(league_id: @league.id).sort_by{|dt| dt.date}.uniq{|dm| dm.date.strftime("%Y%m")}.each do |m| %>

		<% if m.date.strftime("%Y%m%%d") >= Date.today.strftime("%Y%m%%d") %>

			<span class="btn btn-default btn-block" data-toggle="collapse" data-target="#<%=m.date.strftime("%Y%m")%>">
				<p id="monthTitle" name="scheduleTitle"><%= m.date.strftime("%B") %> <span style="color:#aaa; font-size:18px"><%=m.date.strftime("%Y")%></span></p>
			</span>
			<div id="<%=m.date.strftime("%Y%m")%>" class="collapse out">

				<% @league.days.sort_by{|dt| dt.date}.each do |d| %>

					<% if m.date.year == d.date.year %>

						<% if d.date >= Date.today && d.date.month == m.date.month %>
							<% if current_user && current_user.id == @league.user_id %>
								<div class="btn-group btn-group-justified">
									<div class="btn-group" style="width:66%">
										<button class="btn btn-success btn-lrg" data-toggle="collapse" data-target="#<%=d.date%>" >
											<%= d.date.strftime("%A, %b %d") %>
										</button>
									</div>
									<div class="btn-group" style="width:17%">
										<button data-toggle="modal" data-target="#<%= d.id %>day" data-remote="<%= edit_day_path(d) %> #edit_day_modal" class="btn btn-default" >
											<span class="glyphicon glyphicon-edit"></span>
										</button>
										<div class="modal fade" id="<%= d.id %>day" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog modal-sm">
										    <div class="modal-content">
										    </div>
										  </div>
										</div>
									</div>
									<div class="btn-group" style="width:17%">
										<button class="btn btn-default col-sm-2">
											<a data-confirm="Are you sure?" data-method="delete" href="/days/<%= d.id %>" rel="nofollow">
												<span class="glyphicon glyphicon-remove"></span>
											</a>
										</button>
									</div>
								</div>
							<% else %>
							
								<button class="btn btn-success btn-lrg btn-block" data-toggle="collapse" data-target="#<%=d.date%>" >
									<%= d.date.strftime("%A, %b %d") %>
								</button>
							
							<% end %>

							<div id="<%=d.date%>" class="collapse out">
								
									<% d.games.sort{|a,b| a.time <=> b.time}.each do |g| %>
										<% if current_user && current_user.id == @league.user_id %>
											<a data-toggle="modal" data-target="#<%= g.id %>" data-remote="<%= edit_game_path(g) %> #edit_game_modal" class="btn btn-default btn-block list-group-item">
												<center><h5 class="list-group-item-heading"><%= g.time.strftime("%l:%M %p") %> @ <%= g.location %></h5>
													<strong>(<%= g.home_score %>) <%= g.home_team.name if g.home_team%></strong>
													<br>-vs-<br>
													<strong>(<%= g.away_score %>) <%= g.away_team.name if g.away_team%></strong>
												</center>
											</a>
											<div class="modal fade" id="<%= g.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											  <div class="modal-dialog">
											    <div class="modal-content">
											    </div>
											  </div>
											</div>
										<% else %>
											<div class="list-group-item">
												<center><h4 class="list-group-item-heading"><%= g.time.strftime("%l:%M %p") %> @ <%= g.location %></h4>
													<strong>(<%= g.home_score %>) <%= g.home_team.name %></strong>
													<br>-vs-<br>
													<strong>(<%= g.away_score %>) <%= g.away_team.name %></strong>
												</center>
											</div>
										<% end %>
									<% end %>
									
									<% if current_user && current_user.id == @league.user_id %>
										<a data-toggle="modal" data-target="#<%= d.id %>" data-remote="<%= new_league_game_path(:league_id => @league.id, :day_id => d.id) %> #new_game_modal" class="btn btn-default btn-block list-group-item">
											+ Game to <%= d.date.strftime("%A, %b %d") %>
										</a>
									<% end %>
								
								<div class="modal fade" id="<%= d.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								    </div>
								  </div>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end %>
				<br>
			</div>

		<% end %>
	<% end %>
</div>

<% if current_user && current_user.id == @league.user_id %>
	<a data-toggle="modal" data-target="#dayModal" data-remote="<%= new_league_day_path(@league) %> #new_day_modal" class="btn btn-default btn-block">+ Day to <%= @league.name %></a>
<% end %>

<br>





