

<div id="edit_day_modal">
	<div class="modal-header">
		<%if !@day.errors.any? %><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% end %>	    
		<h4 class="modal-title" id="myModalLabel">( Day ) <small> Edit <%= @day.date.strftime("%A, %b %d") if @day.date %></small></h4>
	</div>
	<div class="modal-body">

		<% if @day.errors.any? %>
		    <ul class="list-group">
		      <% @day.errors.full_messages.each do |message| %>
		        <li class="list-group-item list-group-item-danger col-sm-offset-1"><%= message %></li>
		      <% end %>
		    </ul>
		<% end %>
		
		<%= form_for([@league,@day], :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
			<div class='form-group'>
				<label for="day-date" class='col-sm-2 control-label'>Date</label>
				<div class='col-sm-10'>
					<%= f.date_field :date, :class => 'form-control', :id => 'day-date', :placeholder => 'Date' %>
				</div>
			</div>
			<div class='form-group'>
				<div class="col-sm-offset-2 col-sm-10">
					<% if @day.errors.any? %>
						<%= f.submit "Submit", :class => 'btn btn-info' %>
						<%= link_to "Back", league_path(id: @day.league.name.gsub(/ /,"-")), :class => 'btn btn-default' %>
					<% else %>
						<%= f.submit "Submit", :class => 'btn btn-info' %>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<% end %>
				</div>
			</div>
		<% end %>

	</div>
</div>